<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://www.qianmi.com/r/cms/qmwww/default/img/favicon.ico" type="image/x-icon">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="react-content"></div>
    <script src="//pic.qianmi.com/boss/dll/vendor.dll.js"></script>
</body>

</html>